<div class="container">

  <div class="card-header">
    <h3>{{place.name}}</h3>
  </div>

  <carousel [interval]="myInterval">
    <slide *ngFor="let img of imageList; let index=index">
      <img class="img-fluid card-img" [src]="img.url" alt="image slide" style="display: block; width: 100%; height: 500px;">

      <div class="carousel-caption">
        <!-- <h4>Slide {{index}}</h4> -->
      </div>
    </slide>
  </carousel>

  <div class="card-group border-secondary">
    <div class="card ">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Category : {{place.type}}</p>
        <p class="card-text">Town : {{place.town}}</p>
        <p class="card-text">District : {{place.district}}</p>
        <p class="card-text">Address : {{place.address}}</p>
        <div class="embed-responsive embed-responsive-16by9" *ngIf="mapUrl">
          <iframe [src]="mapUrl | safe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-text">
          <h5>Description</h5> {{place.description}}
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="comments col-md-9 mt-5" id="comments">
      <h3 class="mb-2">Reviews</h3>
      <!-- comment -->
      <div class="comment mb-2 row" *ngFor="let r of reviews">
        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
          <!-- <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m102.jpg" alt="avatar"></a> -->
        </div>
        <div class="comment-content col-md-11 col-sm-10">
          <h6 class="comment-meta">
            <a class=" rounded text-primary">{{r.user.type}}</a> {{r.user.name}}
            <div *ngIf="currentUser.type==='admin' || currentUser.email===r.user.email" (click)="deleteReview(r.id)"
              class="text-danger ml-2 small btn">Delete this review <span class="fa fa-trash text-danger"></span>
            </div>
          </h6>
          <div class="comment-body">
            <p>{{r.review}}</p>

          </div>
        </div>
      </div>
      <!-- /comment -->
      <div *ngIf="currentUser.email" class="row pt-2">
        <div class="col-12">
          <textarea #review="ngModel" [(ngModel)]="addReview.review" name="review" id="review" type="text" class="form-control"></textarea>
          <a class="btn btn-sm btn-primary text-white mt-3" (click)="saveReview()">Post</a>
        </div>
      </div>
      <div *ngIf="!currentUser.email">
        <p>Login for make review

        </p>
      </div>

    </div>

  </div>
</div>