<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <img [src]="images[0]" alt="Random first slide">
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img [src]="images[1]" alt="Random second slide">
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img [src]="images[2]" alt="Random third slide">
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
        </div>
      </div>
</div>

<!-- <div class="row">

  <div class="card" style="width: 40rem;">
      <div class="card-body">
          <img class="card-img-top"  src="https://www.prestigetravelae.com/images/home/adventures.jpg">
              <h3 class="card-title">Active Adventures</h3>
              <p class="card-text">Whatever your travel style is; Active, Biking, Comfort, Expedition, Family Vacations or more, let us do the planning.</p>
              <p class="more trans-four"><span>more</span><i class="fa fa-angle-right"></i></p>
      </div>
  </div>


  <div class="card" style="width: 40rem;">
      <div class="feature">
          <img class="card-img-top"  src="https://www.prestigetravelae.com/images/home/family.jpg">
              <h3 class="card-title">Family Travel</h3>
              <p class="card-text">Benefit from our firsthand experience and insider connections to take your family on a vacation of a lifetime.</p>
              <p class="more trans-four"><span>more</span><i class="fa fa-angle-right"></i></p>
      </div>
  </div>


 <div class="card" style="width: 40rem;">
      <div class="feature">
          <img class="card-img-top"  src="https://www.prestigetravelae.com/images/home/world.jpg">
              <h3 class="card-title">World Destinations</h3>
              <p class="card-text">Discover the World! Find destination content, videos and vacation offers Worldwide!</p>
              <p class="more trans-four"><span>more</span><i class="fa fa-angle-right"></i></p>
      </div>
  </div>


  <div class="card" style="width: 40rem;">
      <div class="feature">
          <img class="card-img-top"  src="https://www.prestigetravelae.com/images/home/river.jpg">
              <h3 class="card-title">River Cruises</h3>
              <p class="card-text">Experience a vacation of a lifetime with cityscapes and countryside’s that will take your breath away. Indulge in gourmet meals and luxurious accommodations.</p>
              <p class="more trans-four"><span>more</span><i class="fa fa-angle-right"></i></p>
      </div>
  </div>


  </div> -->



