<nav class="navbar navbar-expand-md navbar-light bg-light  fixed-top rounded">
  <a class="navbar-brand " routerLink="/">Travel Information System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto" style="margin-left: 50px">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/view-places">Places</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
    </ul>

    <ul class="navbar-nav" style="margin-right: 150px">
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login">Sign In</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login">Sign Up</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" ngbDropdown class="nav-item dropdown mr">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{authService.getUserName()}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="admin/manage-places">Manage Places</a>
          <a *ngIf="authService.isAdmin()" class="dropdown-item">Manage Hotels</a>
          <a class="dropdown-item" (click)="logOut()">Log Out</a>
        </div>
      </li>
    </ul>
    
  </div>
</nav>