<nav class="navbar navbar-expand-md navbar-light bg-light  fixed-top rounded">
  <a class="navbar-brand " routerLink="/">Travel Information System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto" style="margin-left: 50px">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-places">Places</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
    </ul>

    <ul class="navbar-nav" style="margin-right: 150px">
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login">Sign In</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/signup">Sign Up</a>
      </li>


      <li class="nav-item">
        <a *ngIf="authService.isLoggedIn()" class="nav-link">{{authService.getUserName()}}</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isUser()" class="nav-link" routerLink="user/dashbord" >Dashbord</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isAdmin()" class="nav-link " routerLink="admin/admin-panel">Admin Panal</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isLoggedIn()" class="nav-link btn" (click)="logOut()">Logout</a>
      </li>

    </ul>

  </div>

</nav>

